@font-face {
    font-family: Poppins-Bold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    background-color: #3B2A9F;
    box-sizing: border-box;
    color: white;
    font-family: Poppins-Regular;
}

:root {
    --secondary: #FA8305;
    --primary-100: #5141AA;
    --brown: #1C140F;
    --black: #070707;
}

body {
    max-width: 1440px;
}

main {
    max-width: 1140px;
    margin: auto;
}

header {
    height: 100px;
    position: relative;
    z-index: 3;
}

#logo {
    margin-top: 25px;
    margin-left: 60px;
    display: inline-block;
    font-family: Poppins-ExtraBold;
}

header nav {
    display: inline;
    float: right;
    margin-right: 60px;
    margin-top: 32px;
}

a {
    text-decoration: none;
}

.nav-links {
    margin-left: 88px;
}

/* .nav-links::after {
    content:div;
} */

#nav-div {
    display: inline;
}

header nav a {
    margin-left: 38px;
}

#page_theme {
    background-color: var(--secondary);
    width: 131.66px;
    height: 41.34px;
    padding: 10px 25px;
    border-radius: 6px; 
}

#div1 {
    display: inline-block;
    width: 40%;
    margin-top: 115px;
}

#div1-p1 {
    font-size: 12px;
}

#div1-p1 span {
    color: var(--secondary);
}

#div1 h3 {
    font-family: Poppins-Bold;
    font-size: 30px;
    margin-top: 40px;
}

#div1 a {
    background-color: var(--secondary);
    font-family: Poppins-Medium;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 55px;
    display: inline-block;
}

#stray-img {
    position: absolute;
    right: 0;
    top: 120px;
    width: 50%;
}

#div2 {
    margin-top: 250px;
}

#div2 h4 {
    font-weight: 600;
    font-size: 25px;
}

.div2-div {
    width: 30%;
    height: 350px;
    background-color: var(--brown);
    border-radius: 20px;
    display: inline-block;
    margin-top: 50px;
    margin-right: 2em;

}

.div2-div h5 {
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.div2-p {
    padding: 7px 25px;
    display: inline-block;
    border-radius: 8px;
    margin-top: 65px;
}

.div2-content {
    margin-left: 35px;
    margin-right: 35px;
    background-color: inherit;
}

.div2-par {
    margin-top: 15px;
}

#div2-p1{
    background-color: #B000DC1C;
}
#div2-p2{
    background-color: #DC42001C;
}
#div2-p3{
    background-color: #00DC8D1C;
}

#div3 {
    background-color: var(--brown);
    height: 600px;
    width: 100%;
    margin-top: 150px;
    position: relative;
}

#div3 img {
    position: absolute;
    bottom: 0;
    left: 70px;
    border-radius: 24px 24px 0px 0px;
}

#div3-div {
    display: inline-block;
    width: 37%;
    background-color: inherit;
    margin-top: 130px;
    margin-left: 50%;
}

.div3-div-content{
    background-color: inherit;
    margin-top: 14px;
}

#div3-div-p1 {
    font-family: Poppins-Medium;
    font-size: 16px;
}

#div3-div h4 {
    font-weight: 600;
    font-size: 28px;
    background-color: inherit;
}

#teamdiv {
    margin-top: 150px;
}

#teamdiv h4 {
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
}

.teamdiv-content {
    background-color: var(--brown);
    text-align: center;
    border-radius: 20px;
    margin-top: 50px;
    width: 23%;
    height: 250px;
    display: inline-block;
    margin-right: 2%;
}

#teamdiv-lastdiv {
    margin-right: 0;
}

.teamdiv-content img {
    background-color: inherit;
    margin-top: 40px;
    height: 100px;
    width: 100px;
}

.teamdiv-content h6 {
    background-color: inherit;
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
}

.teamdiv-content p {
    background-color: inherit;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}



#div4 {
    margin-top: 100px;
}

#div4 h3 {
    font-family: Poppins-Regular;
    font-weight: 600;
    font-size: 30px;
}

#div4 p {
    width: 545px;
    margin-top: 16px;
}

#div4-div {
    background-color: var(--brown);
    border-radius: 15px;
    margin-top: 75px;
    height: 190px;
    overflow: hidden;
}

#div4-3rddiv {
    background-color: inherit;
    margin-left: 50px;
    margin-top: 40px;
    width: 550px;
    display: inline-block;
}

#div4-3rddiv h3,#div4-3rddiv p {
    background-color: inherit;
    max-width: 500px;
}

#email-form {
    background-color: white;
    height: 48px;
    width: 385px;
    border-radius: 8px;
    float: right;
    margin-top: 70px;
    margin-right: 40px;
}

#email-input {
    background-color: inherit;
    border: none;
    margin-left: 20px;
    margin-top: 14px;
    color: black;
}

#email-button {
    background-color: var(--secondary);
    padding: 8px 17px;
    float: right;
    border: none;
    border-radius: 8px;
    margin-top: 6px;
    margin-right: 6px;
}

footer {
    background-color: var(--black);
    height: 375px;
    margin-top: 160px;
}

#footer-container {
    height: 295px;
    background-color: inherit;
}

.f_div{
    background-color: inherit;
    float: left;
    height: 60%;
    margin-top: 80px;
    margin-bottom: 50px;
}

#f_div1 {
    width: 34%;
}

#f_div1 h2,#f_div1 p {
    margin-left: 100px;
    background-color: inherit;
}

#f_div1-p {
    margin-top: 15px;
}

#f_div1 h2 {
    font-family: Poppins-ExtraBold;
}

#f_div2 {
    width: 16%;
}

#f_div2 p,#f_div2 ul,#f_div2 li {
    background-color: inherit;
}

.f_div2-content {
    margin-left: 70px;
}

#f_div2 p {
    font-family: Poppins-Medium;
    margin-top: 5px;
    text-transform: capitalize;
}

#f_div2 ul {
    margin-top: 15px;
    padding-top: 5px;
}

.footer-li {
    list-style-type: none;
    text-transform: capitalize;
}

#f_div3 {
    width: 30%;
}

.f_div3-content {
    margin-left: 70px;
    background-color: inherit;
}

#f_div3-p1 {
    font-family: Poppins-Medium;
    text-transform: capitalize;
}

#f_div3-p2 {
    margin-top: 20px;
}

#f_div3-p3 {
    margin-top: 10px;
}

#f_div4 {
    width: 20%;
    display: flex;
    align-items: flex-end;
}

.fa-stack {
    background-color: inherit;
    margin: 10px;
    margin-bottom: 30px;
}

i {
    color: black;
    background-color: white;
    border-radius: 100%;
}

#copyright {
    background-color: inherit;
    text-align: center;
    font-family: Poppins-Bold;
    font-size: 13px;
    text-transform: capitalize;
    margin-top: 30px;
}

#copyright p,#copyright p strong {
    background-color: inherit;
}